{
	"token": "BOT_TOKEN",
	"giphyToken": "dc6zaTOxFJmzC",
	"mongodb" : "mongodb://127.0.0.1:27017/WeeaBot"
	"hugs" : [
		"od5H3PmEG5EVq",
		"du8yT5dStTeMg",
		"BXrwTdoho6hkQ",
		"a5s3dI6Wv1Qcw",
		"aVmEsdMmCTqSs",
		"w58weO0ybUepa",
		"NvkwNVuHdLRSw",
		"TGVd8DUOggMiA",
		"eMpDBxxTzKety",
		"qscdhWs5o3yb6",
		"5eyhBKLvYhafu",
		"IRUb7GTCaPU8E",
		"aD1fI3UUWC4",
		"xZshtXrSgsRHy",
		"oPy4OOpCRgkXm",
		"ByJYqLWjvzJwk",
		"ZQN9jsRWp1M76",
		"f5hhE6f3h8Vkk",
		"IRUb7GTCaPU8E",
		"pXQhWw2oHoPIs",
		"lrr9rHuoJOE0w",
		"EJyFW6Ub5i8PC"
	]
}
